name: flask app using docker and CICD

on: 
    push:
        branches:
        - main
    pull_request:
        branches:
        - main

jobs:
    
    docker-login:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout code
          uses: actions/checkout@v3
        
        - name: Debug
          run: |
            echo "Docker username set: ${{ secrets.DOCKER_USERNAME != '' }}"
            echo "Docker password set: ${{ secrets.DOCKER_PASSWORD != '' }}"

        - name: login DockerHub
          uses: docker/login-action@v2
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}


    build-and-test:
        needs: docker-login
        runs-on: ubuntu-latest

        steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Set up Python
          uses: actions/setup-python@v4
          with:
            python-version: '3.8'
        
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

        - name: Run tests
          run: |
            pytest test_app.py

    build-and-publish:
        needs: [build-and-test, docker-login]
        runs-on: ubuntu-latest

        steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v2
        
        # - name: login DockerHub
        #   uses: docker/login-action@v2
        #   with:
        #     username: ${{ secrets.DOCKERHUB_USERNAME }}
        #     password: ${{ secrets.DOCKERHUB_TOKEN }}

        - name: build and push Docker image
          uses: docker/build-push-action@v4
          with: 
            context: .
            file: ./Dockerfile
            push: true
            tags: ${{ secrets.DOCKERHUB_USERNAME }}/flask-app:2.0

        - name: Image digest
          run: echo ${{ steps.build_and_push_Docker_image.outputs.digest }}